#NetBeans
/nbproject/*.*
/nbproject/private/*.*

#www
/www/cgi-bin/*.*

#source bootstrap & jquery
/www/vendors/*.*

#source smarty
/www/lessons/smarty/vendors/*.*

#smarty temp
/www/lessons/smarty/compile/*.*
